.main-home-container {
    display: flex;
    flex-direction: column;
}

.main-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.second-container {
    width: 42%;
}
