.sidebar {
    width: 13%;
}

.sidebar div {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    font-weight: 400;
    font-size: 15px;
    border-left: 5px solid white;
    cursor: pointer;
    margin-bottom: 1.5em;
}

.active {
    border-left: 5px solid #4f65f6 !important;
}

.sidebar div img {
    height: 25px;
    width: 25px;
    margin-right: 2em;
}
